version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
      time: "08:00"

  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: weekly
      time: "08:00"

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: weekly
      time: "08:00"
