repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: ['--unsafe'] # required for !secret
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        stages: [pre-commit]
        args: [--branch, main]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
    - id: clang-format
      types_or: [c++, c, cuda]
